@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,700;1,400&display=swap');
body {
    font-family: "Poppins", sans-serif;
    background-color: #444;
    color: #eee;
}

.header {
    background-color: #666;
    /* altura de un elmento */
    height: 60px;
}

.header span {
    background-color: #fff;
    color: #444;
}

.main {
    background-color: #aaa;
    width: 1200 px;
    /* No es adecuado colocar un alto */
    /* height: 100px */
}

.main_imagenes {
    height: 100px;
    /* Control el desborde de los hijos de un elemento */
/* overflow : hidden */
/* si el contenido es muy grande en el eje y se va a dibujar un scroll */
overflow-y: scroll;
}

.main__descripcion{
    height: 100px;
    width: 100px;
    background-color: orange;
}

.main__articulos{
    height: 200px;
    width: 200px;
    margin: 20px;
    background-color: pink;
}

footer p {
    text-align: center;
    
}